<a href='https://www.darshan.ac.in/'>
  <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/>
</a>

<center>
  <h1><b>Data Mining</</b></h1>
  <h1><b>Lab - 4</b></h1>
</center>
<h3><b>Name:</b> Harmik Rathod</h3>
<h3><b>Enrollment No:</b> 24010101680</h3>



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. See the first 10 entries

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chipo.shape[0]

4622

In [6]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Number of Unique Items ?

In [10]:
chipo["item_name"].nunique()

50

### Step 10. Which was the most-ordered item?

In [11]:
chipo.groupby("item_name").sum(numeric_only=True).sort_values(by="quantity",ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. How many items were orderd in total?

In [12]:
chipo['quantity'].sum()

4972

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [13]:
chipo['item_price'].dtype

dtype('O')

#### Step 12.b. Create a lambda function and change the type of item price

In [14]:
dollarizer=lambda x:float(x[1:-1])
chipo.item_price =chipo.item_price.apply(dollarizer)

#### Step 12.c. Check the item price type

In [15]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
(chipo['quantity']*chipo['item_price']).sum()

39237.02

### Step 15. How many orders were made ?

In [17]:
chipo['order_id'].nunique()

1834

### Step 17. How many different choice descriptions are there?

In [18]:
chipo['choice_description'].nunique()

1043

### Step 18. What items have been ordered more than 100 times?

In [19]:
chipo.groupby('item_name').sum().quantity.loc[lambda x: x>100]

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

### Step 19. What is the average revenue amount per order?

In [20]:
# Solution 1
chipo['item_revenue']=chipo['quantity']*chipo['item_price']
chipo.groupby('order_id')['item_revenue'].sum().mean()

21.39423118865867